* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body{
    font-family: 'Roboto', sans-serif;
}

header {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    padding: 0 5px;
    color: gray;
    box-shadow: 2px 0 15px 15px #eee;    
}

.menu ul {
    list-style: none;
    display: flex;
}

.menu li {
    padding: 0 10px;
}

.menu a {
    text-decoration: none;
    color: gray;
    transition: color 0.2s ease-in-out;
}

.menu a.active{
    color: skyblue; 
}

.menu a:hover{
    color: skyblue;
}

   

header .logo {
    margin: 0 auto;
    text-align: center;    
}

header input:focus{
    outline: none;    
    border: 2px solid silver;
}


header input {
    width: 70px;
    height: 30px;
}

header .settting-bar{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    
}

header .settting-bar input{
    margin: 0 10px;
}

header .settting-bar input[type="submit"]{
    transition: color 0.2s ease-in-out;
    /* transition: background-color 0.2s ease-in-out; */
    transition: border 0.2s ease-in-out;
}

header .settting-bar input[type="submit"]:hover{
    border: 2px solid gray;
    background-color: white;
    color: skyblue;
}


header input {
    margin: 10px;
    padding: 10px;
    border: 2px solid skyblue;
    border-radius: 10px;
}

header select{
    padding: 5px;
    border: 2px solid skyblue;
    border-radius: 10px;
}

header select:focus{
    outline: none;
    border: 2px solid gray;
}

.text{
    font-size: 25px;
    color:gray;
    text-align: center;
    position: absolute;
    top:70%;
    left:50%;
    transform: translate(-50% ,-50%);
}
.text-3d {
    text-transform: uppercase;
    font-size: 130px;
    color:gray;
    position: absolute;
    top:50%;
    left:50%;
    transform: translate(-50% ,-50%);
    text-shadow:
                    0 1px 0 rgb(190,190,190),
                    0 2px 0 rgb(185,185,185),
                    0 3px 0 rgb(180,180,180),
                    0 4px 0 rgb(175,175,175),
                    0 5px 0 rgb(170,170,170),
                    0 6px 0 rgb(165,165,165),
                    0 7px 0 rgb(160,160,160),

                    0 1px 5px rgba(0,0,0,.05),
                    0 3px 5px rgba(0,0,0,.10),
                    0 5px 10px rgba(0,0,0,.15),
                    0 7px 10px rgba(0,0,0,.20),
                    0 10px 15px rgba(0,0,0,.25);
    transition: all 0.3s ease-in-out;        
    cursor: pointer;
}
.text-3d:hover {
    text-shadow:
                    0 1px 0 rgb(190,190,190),
                    0 2px 0 rgb(185,185,185),
                    0 3px 0 rgb(180,180,180),
                    0 4px 0 rgb(175,175,175),
                    0 5px 0 rgb(170,170,170),
                    0 6px 0 rgb(165,165,165),
                    0 7px 0 rgb(160,160,160),
                    0 8px 0 rgb(155,155,155),
                    0 9px 0 rgb(150,150,150),

                    0 1px 5px rgba(0,0,0,.05),
                    0 5px 5px rgba(0,0,0,.10),
                    0 10px 10px rgba(0,0,0,.15),
                    0 15px 10px rgba(0,0,0,.20),
                    0 20px 15px rgba(0,0,0,.25);
    transform: translate(-51%,-51%);
    transition: all 0.3s ease-in-out;
}

@media screen and (max-width: 300px){
    .text{
        text-align:center;
        margin-top: 20px;        
    }
}

@media screen and (max-width: 350px) {
    header .logo{
        padding: 10px;
        order: 0;
    }
    header .menu{
        margin: 10px auto;
        order: 1;
    }
    header .settting-bar{
        margin: 10px auto;
        order: 2;
    }
    .text{
        text-align:center;
        margin-top: 20px;        
    }
}

@media screen and (max-width: 470px) {
    header .logo{
        order: 0;
        padding: 10px;
    }
    header .menu{
        order: 1;
        margin: 10px auto;
    }
    header .settting-bar{
        order: 2;
        margin: 10px auto;
    }
    .text{
        text-align:center;
        margin-top: 20px;
        
    }
}

@media screen and (max-width: 649px) {
    header{
        flex-direction: column;
    }
    header .logo{
        order: 0;
        padding: 10px;
    }
    header .menu{
        order: 1;
        margin: 10px 0;
    }
    header .settting-bar{
        order: 2;
        margin: 10px auto;
    }
    .text{
        text-align:center;
        margin-top: 20px;
        
    }
}